#pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.goal {
  height: 20%;
  background: linear-gradient(to left, #ba7453, #d1a984);
}
.img-fluid {
  height: 80%;
  width: 90%;
}
