.fancy {
  color: black;
  font-size: 4rem;
  font-family: sans-serif;
  text-align: center;
}
span {
  opacity: 0;
  transition: all 1s ease;
  transform: translatY(50px);
}
.fade11 {
  opacity: 1;
}
