*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.goal.fancy {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-family: sans-serif;
    text-align: center;
    line-height: 10vh;
}
span {
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(50px);
}
span.fade {
     opacity: 1;
}